.time_out {
    box-sizing: border-box;
    margin: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.counter {
    box-sizing: border-box;
    margin: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}