.design {
    background-color: $main-bg;
    padding-top: 58px;
    padding-bottom: 93px;
}

.design__img {
    padding-top: 28px;
    display: grid;
    row-gap: 20px;
    justify-content: center;

    & a {
        position: relative;
        width: 288px; 
        height: 325px;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            border-radius: 40px;
        }
       
    }

    & a::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
    }

    & a:nth-child(1)::before {
        width: 172px;
        height: 172px;
        background-image: url(../../img/icons/star.svg);
    }

    & a:nth-child(2)::before {
        width: 134px;
        height: 137px;
        background-image: url(../../img/icons/butterfly.svg);
    }

    & a:nth-child(3)::before {
        width: 148px;
        height: 143px;
        background-image: url(../../img/icons/asterisk.svg);
    }


    @media(min-width: $bp-md) {
        grid-template-columns: 328px 328px;
        grid-template-rows: auto;
        row-gap: 26px;
        column-gap: 34px;
        padding-top: 38px;

        & a:nth-child(1) {
            width: 690px;
            grid-column: span 2;
        }

        & a:nth-child(2),a:nth-child(3) {
            width: 328px;
        }

        & a:nth-child(1)::before {
            width: 227px;
            height: 227px;
        }
    
        & a:nth-child(2)::before {
            width: 147px;
            height: 151px;
        }
    
        & a:nth-child(3)::before {
            width: 183px;
            height: 177px;
        }
    }

    @media(min-width: $bp-lg) {
        grid-template-columns: repeat(2, 396px);
        gap: 26px;


        & a:nth-child(1) {
            width: 818px;
        }

        & a:nth-child(2),a:nth-child(3) {
            width: 396px;
        }

        & a:nth-child(1)::before {
            width: 268px;
            height: 268px;
        }
    
        & a:nth-child(2)::before {
            width: 147px;
            height: 151px;
        }
    
        & a:nth-child(3)::before {
            width: 183px;
            height: 177px;
        }
    }
}