@import "../abstracts/variables";

.portfolio {
    background: $secondory-bg;
    padding-top: 68px;
    padding-bottom: 85px;
    display: grid;
    row-gap: 63px;
    justify-content: center;

    @media(min-width: $bp-md) {
        grid-template-columns: 328px 328px;
        grid-template-rows: auto;
        row-gap: 102px;
        column-gap: 40px;
    }

    @media(min-width: $bp-lg) {
        grid-template-columns: repeat(3, 246px);
        row-gap: 63px;
    }
}

.portfolio__card {
    width: 288px;
    background: $white-color;
    border-radius: 13px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    position: relative;

    @media (min-width: 380px) {
        width: 343px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        right: 32px;
        top: 32px;
        background-image: url(../../img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        border-radius: 50%;
    }
    

    & h2 {
        color: #565656;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }

    & p {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
    }

    @media(min-width: $bp-md) {
        width: 333px;
        padding: 24px;

        &::before {
            right: 40px;
            top: 44px;
        }

        & h2 {
            font-size: 32px;
        }

        & p {
            font-size: 16px;
        }
    }

    @media(min-width: $bp-lg) {
        width: 246px;
        padding: 20px;
    }
    

    &--big {
        @extend .portfolio__card;

        & h2 {
            font-size: 36px;
            font-weight: 600;
        }

        & p {
            font-weight: 700;
        }

        @media(min-width: $bp-md) {
            grid-column: span  2;
            width: 703px;

            .portfolio__card-bg {
                height: 498px;
            }

            & h2 {
                font-size: 40px;
            }
        }
    
        @media(min-width: $bp-lg) {
            width: 818px;
            grid-column: span  3;
        }
    }
 
}


.portfolio__card-bg {
    width: 100%;
    height: 278px;
    background-image: url(../../img/portfolio/portfolio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 13px;

    @media(min-width: $bp-md) {
        height: 448px;
    }

    @media(min-width: $bp-lg) {
        height: 338px;
    }
}

.portfolio__card:nth-child(3) .portfolio__card-bg {
    background-image: url(../../img/portfolio/portfolio3.jpg);
}

.portfolio__card:nth-child(2),.portfolio__card:nth-child(4) {
    display: none;
}

@media(min-width: $bp-md) {
    .portfolio__card:nth-child(2) {
        display: flex;
    }

    .portfolio__card:nth-child(2) .portfolio__card-bg {
        background-image: url(../../img/portfolio/portfolio2.jpg);
    }
}

@media(min-width: $bp-lg) {
    .portfolio__card:nth-child(4) {
        display: flex;
    }

    .portfolio__card:nth-child(4) .portfolio__card-bg {
        background-image: url(../../img/portfolio/portfolio4.jpg);
    }
}