@import "../abstracts/variables";

.quote {
    background-image:url(../../img/quote_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    

    & p {
        
        color: $white-color;
        text-align: center;
        font-family: DynaPuff;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        padding-top: 180px;
        padding-bottom: 173px;
        z-index: 90;

        

        @media(min-width: $bp-md) {
            font-size: 48px;
            padding-top: 274px;
            padding-bottom: 294px;
        }
    
        @media(min-width: $bp-lg) {
            padding-top: 303px;
            padding-bottom: 323px;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    

}