:root {
    --main-color: #ffffff;
    --main-text-color: #0E0F13;
    --btn-color: #425DF8;
    --important-card-bg-color: #161A34;
    --footer-text-color: #7F828A;
    --important-text-color: #F6FDFF;
    --price-link-text-color: #F6FDFF;
    --border: #DADADA;
    --price-text-color: #7F828A;
    --price-bg: #FDFDFD;
    --sing-up-text-color: #F6FDFF;
}

.dark-theme {
    --main-color: #1b2c4e;
    --main-text-color: #ffffff;
    --important-card-bg-color: #61a6d4;
    --important-text-color: #070707;
    --price-bg: #121731;
}



body {
    font-family: 'Cabin', sans-serif;
    background-color: var(--main-color);
}


/* Header style */
header {
    box-sizing: border-box;
    padding: 40px 52px 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-title {
    color: var(--main-text-color);
    font-size: 28px;
    font-weight: 500;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 56px;
}

.header-menu-list-link {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.header-menu-list-link.active {
    color: var(--btn-color);
    cursor: default;
}

.btn {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 18px 22px;
}

.btn.sing_in-btn {
    color: var(--main-text-color);
    border: 1px solid var(--border);
    background-color: var(--main-color);
    margin-right: 24px;
}

.sing_up-btn {
    color: var(--sing-up-text-color);
    border: 1px solid var(--btn-color);
    background: var(--btn-color);
}

.header-btn {
    display: flex;
}

.theme-togle-btn img{
    width: 30px;
    height: 30px;
}

.theme-togle-btn {
    background:none;
    border: none;
    margin-right: 50px;
    cursor: pointer;
}

/* Main style */
.container {
    
    margin: 0 52px 0 52px;
}

.main-title {
    margin-top: 157px;
    text-align: center;
    color: var(--main-text-color);
    font-size: 64px;
    font-weight: 500;
}

.main-subtitle {
    margin-top: 24px;
    color: var(--price-text-color);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-top: 120px;
}

.price-plan {
    display: flex;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--border);
    background: var(--price-bg);
    width: fit-content;
}

.price-title {
    color: var(--main-text-color);
    font-size: 30px;
    font-weight: 500;
    
}

.price-subtitle {
    color: var(--price-text-color);
    font-size: 22px;
    font-weight: 400;
    margin-top: 27px;
    text-align: center;
    width: 304px;
}

.price-value {
    color: var(--main-text-color);
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -2.56px;
    display: flex;
    align-items: center;
    margin-top: 27px;
}

.price-value span {
    color: var(--price-text-color);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 16px;
}

.price-plan-list {
    margin-top: 27px;
}

.price-plan-list-item {
    position: relative;
    color: var(--price-text-color);
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 16px;
    line-height: 27.5px; 
}

.price-plan-list-item:nth-child(1) {
    padding-top: 0;
}

.price-plan-list-item::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/icons/bullit.png);
    left: -36px;
}

.price-link {
    border-radius: 8px;
    border: 1px solid var(--btn-color);
    background: var(--btn-color);
    color: var(--price-link-text-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 125px;
    width: 162px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.important {
    border: 1px solid var(--important-card-bg-color);
    background: var(--important-card-bg-color);
    color: var(--important-text-color);
}

.important span {
    color: var(--important-text-color);
}

/* footer style */

.divider {
    margin-top: 196px;
    background: var(--main-text-color);
    height: 1px;
    padding: 0;
}

.footer-container {
    margin: 16px 52px 16px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-img {
    width: 24px;
    height: 24px;
}

.footer-title {
    color: var(--footer-text-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.right {
    color: var(--footer-text-color);
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

