#root 
  max-width: 1280px
  margin: 0 auto
  padding: 2rem
  text-align: center


.app 
  font-family: Roboto, sans-serif
  position: relative

.modal__button
    min-width: 192px
    height: 48px
    border: 1px solid black
    border-radius: 8px
    padding: 16px 20px
    cursor: pointer
    background-color: #FFFFFF
    text-transform: uppercase
    font-family: Roboto, sans-serif
    color: #8A33FD
    &:hover
      background-color: #8A33FD
      color: #fff
      border: none

