@import '../abstracts/variables';

.main-title {
    border-bottom: 1px solid #A8A8A8;
    color: $primary-color;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 23px;
    text-align: left;
}