@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #EEEEEF;
}

.container {
    width: 1296px;
    margin: 136px auto 0;
}

/* Header style------------------------------------------------------------ */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header-main {
    height: 72px;
    background: #10BBD5;
    padding: 0 52px 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.basket span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}

.catr-container {
    position: relative;
}


.cart-counter {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 15px;
    font-weight: 400;
}

nav {
    display: flex;
    padding: 4px 52px 0 52px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list-link {
    text-decoration: none;
    color:black;
}

/* main title-------------------------------------------------- */
main {
    position: relative;
}

.main-title {
    border-bottom: 1px solid #A8A8A8;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 23px;
    text-align: left;
}


/* Cadr style ------------------------------------------------- */
.card-wrapper {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;
}

.card{
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    background-color:#fff;
    border: 1px solid #A8A8A8;
    height: fit-content;
    width: 306px;
}

.card-book-link{
    align-self: center;
}

.card-book-img {
    width: 178px;
    height: 280px;
}

.card-book-name {
    margin-top: 16px;
    overflow: hidden;
    color:#1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #A8A8A8;
    width: 100%;
}

.card-book-author {
    overflow: hidden;
    color:#8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
}

.card-book-value {
    margin-top: 10px;
    color: #E90000;
    font-size: 24px;
    font-weight: 500; 
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.card-book-old-price {
    color: #8E8E8E;
    text-decoration:line-through;
}


/* Chips style----------------------------------------------------------------- */
.card-chips-container{
    display: flex;   
    position: absolute;
    top: 32px;
    left: 32px;
    gap: 4px;
}

.card-chips {
    border-radius: 4px;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.hit {
    background: #4200FF;  
}

.new {
    background: #AF39E7;
}

.discount {
    background: #EA33C0;
}

/* Button style------------------------------------------ */

.cart-btn {
    background: none;
    border: none;
    cursor: pointer;
} 

.card-book-btn {
    margin-top: 16px;
    padding: 8px 74.5px;
    width: 242px;
    border-radius: 4px;
    background: #4C394E;
    text-align: center;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.end-up-btn {
    background: #4D762D;
}

.chat-btn {
    position: fixed;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #10BBD5;
    border: none;
    bottom: 88px;
    right: 28px;
    cursor: pointer;
}

/* Footer style---------------------------------------------- */

footer {
    margin-top: 120px;
    padding: 0 52px;
    height: 88px;
    background: #4C394E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}
