@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'
#root 
    margin: 0 auto
*
    margin: 0
    padding: 0
    box-sizing: border-box

.app
    padding: 100px
    display: flex
    justify-content: space-around
    position: relative
    font-family: Roboto, sans-serif

.btn
    width: 200px
    height: 100px
    border: none
    cursor: pointer

.modal-wrapper
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.6)
    backdrop-filter: blur(3px)
    z-index: 5
    position: fixed

.modal
    font-family: Roboto, sans-serif
    width: 560px
    padding: 56px
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    box-shadow: 2px 2px 10px rgb(154, 151, 151)
    z-index: 10
    background-color: white
    border-radius: 16px
    &__header
        text-align: center
        color: black
        h1
            font-weight: 400
    &__close
        cursor: pointer
        position: absolute
        top: 20px
        right: 20px
        width: 22px
        height: 22px
        opacity: 0.3
        &::before, &::after
            position: absolute
            left: 10px
            content: ""
            height: 23px
            width: 2px
            background-color: #000
        &::before
            transform: rotate(45deg)
        &::after
            transform: rotate(-45deg)
        &:hover
            opacity: 1
            transform: scale(1.3)
    &__body
        margin-top: 32px
        text-align: center
        font-weight: 500
        color: #7F7F7F
    &__footer
        margin-top: 64px
        display: flex
        justify-content: center
        gap: 64px

    &__button
        min-width: 192px
        height: 48px
        border: 1px solid black
        border-radius: 8px
        padding: 16px 20px
        cursor: pointer
        background-color: #FFFFFF
        text-transform: uppercase
        color: #8A33FD
        &:hover
            background-color: #8A33FD
            color: #fff
            border: none
