/* Головний контейнер */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.posts-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Карточка посту */
.post-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.user-info-container {
    margin-bottom: 10px;
}

.user-info-container span {
    margin-right: 10px;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* Кнопки */
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #1da1f2;
}

.delete-btn:hover{
    text-decoration: underline;
}


