@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600;700&family=Manrope:wght@500;700&display=swap');
@import "../abstracts/variables";

body {
    font-family: Manrope, sans-serif; 
    
}

* {
    box-sizing: border-box;
}

section {
    padding: 0 16px;

    @media(min-width: $bp-md) {
        padding: 0 34px;
    }

    @media(min-width: $bp-lg) {
        padding: 0 191px;
    }
}

.container {
    
    margin: 0 auto;

    @media(min-width: $bp-md) {
    }

    @media(min-width: $bp-lg) {
        max-width: 1200px;
    }
}

a {
    text-decoration: none;
}