.container
  display: flex
  margin-top: 20px
  border-bottom: 1px solid grey

.img
  width: 300px
  height: 200px
  
  img 
    width: 100%
    height: 100%
    object-fit: cover

.productInfo
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: start
  width: 100%
  padding-left: 50px
  .productHeader
    width: 100%
    display: flex
    justify-content: space-between
    .delete
      cursor: pointer

.cartBtn
  font-weight: 700
  background-color: #fff
  border: 1px solid black
  margin-bottom: 20px


