footer {
    width: 100%;
    border-top: 3px solid #D4D4D4;
    text-align: center;
}

.footer-search {
    background: #EEF2F3;
    margin-bottom: 32px;
}
.footer-search-input {
    padding-top: 44px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}


.footer-search-input input {
   padding: 10.4px 10px;
   width: 306px;
   background: #DCE4E7;
   border: none;
   outline: none;
}

.footer-btn {
    padding: 10px;
    background: #006CE5;
    border: none;
}

.footer-tags-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.footer-tags-text {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.8px;
}

.footer-tags-chips-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 44px;
}

.footer-tags-chips-item {
    padding: 8px 16px;
    border-radius: 800px;
    background: #FFF;
    text-decoration: none;
}

.footer-logo {
    width: 154px;
    height: 42px;
    margin-bottom: 16px;
}

.copyright {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px; 
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .footer-tags {
        width: 526px;
        margin: 0 auto;
    }
    .footer-logo {
        width: 196px;
        height: 54px;
        margin-bottom: 16px;
    }
}

@media (min-width: 1368px) {
   
} 