@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');


body {
    font-family: 'Cabin', sans-serif;
    background: #EEEEEF;
}

.container {
    width: 1296px;
    margin: 136px auto 0;
    
}

/* Header style--------------------------------------------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-logo-container span {
    font-family: 'Rochester', cursive;
    color: #F8FDFE;
    font-size: 28px;
    font-weight: 400;
    
}

.header-logo {
    text-decoration: none;
}

.header-main {
    height: 72px;
    background: #6D91DC;
    padding: 0 52px 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.basket span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}

.catr-container {
    position: relative;
}


.cart-counter {
    color: #F8FDFE;
    position: absolute;
    top: 16px;
    right: 18px;
    font-size: 12px;
    font-weight: 500;
}

nav {
    display: flex;
    padding: 4px 52px 0 52px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list-link {
    text-decoration: none;
    color:black;
}

.cart-btn {
    background: none;
    border: none;
    cursor: pointer;
} 

/* Main style------------------------------------------- */
main {
    position: relative;   
}

.form {
    display: flex;
    justify-content: center;
    gap: 134px;
}

.main-title {
    box-sizing: border-box;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 56px;
}

.form-info {
    width: 416px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.form-contacts-title{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}

.form-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 416px;
}

.input-container, .delivery-adress, .delivery-comment {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}

.input-container input, .delivery-adress textarea, .delivery-comment textarea {
    box-sizing:border-box;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
.input-container input::placeholder{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.input-container input:focus, .delivery-adress textarea:focus, .delivery-comment textarea:focus {
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
}

.input-container button[type="reset"] {
    position: absolute;
    top: 32px;
    bottom: 10px;
    right: 10px;
    color: #666;
    border: 0;
    display: none;
    padding: 0 10px;
    border-radius: 50%;
    background-color: #F5F5F5;
    transition: background 200ms;
    outline: none;
}

.input-container button[type="reset"]:hover {
    background-color: #eee;
}
.input-container input:valid ~ button[type="reset"] {
    display: block;
}

.delivery {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.delivery-adress label, .delivery-comment label {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}

.delivery-adress textarea, .delivery-comment textarea {
    height: 104px;
    resize: none;
    font-family: Cabin;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}

.delivery-adress textarea::placeholder, .delivery-comment textarea::placeholder  {
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
}



.delivery-day input {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    margin-left: 19px;
    width: 120px;
    height: 28px;
}

.delivery-day input:focus {
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
}

.delivery-day label {
    color: #1F1F1F;
    font-size: 15px;
    font-weight: 400;
}

.call-title {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
}

.call-subtitle {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}

.call-radio, .payment-container{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.your-order {
    box-sizing:border-box;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 40px;
    height: fit-content;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.order-item {
    display: flex;
    gap: 24px;
    
}

.order-info {
    display: flex;
    flex-direction: column;
    width: 192px;
}

.order-name {
    color:#1F1F1F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid #A8A8A8;
}

.order-value {
    margin-top: 3px;
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 16px;
    font-weight: 400;
}

.order-counter {
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    width: fit-content;
    padding: 4px 8px;
}


.order-counter button {
    background:none;
    border:none;
    cursor: pointer;
}

.order-price, .total-price-value {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.order-confirm {
    border-top: 1px solid #A8A8A8;
}

.total-price {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-price-title {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}

.personal-data {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.form-btn {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button {
    width: 215px;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.submit-btn {
    background: #3D76BA; 
    color: #F8FDFE;
}

.submit-btn:hover {
    background: #63A1EB;
}

.reset-btn {
    background: #DEDEDE;
    color: #1F1F1F;
}

.reset-btn:hover {
    background: #EEE;
}

footer {
    margin-top: 120px;
    padding: 0 52px;
    height: 88px;
    background: #6D91DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}



