* {
    font-family: 'Inter', sans-serif;
}
body {
     margin: 0 auto;
}

header {
    height: 88px;
}

.menu__list {
    text-align: center;
    padding-left: 0;
    padding-top: 32px;
}

.menu__list__item {
    display: inline-block;
    margin-right: 72px;
    
}

.menu__list__item:last-child {
    margin-right: 0;
}
.menu__list__link {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.main__bg {
    width: 100%;
}

.container {
    width: 856px;
    margin: 0 auto;
}
.title__main {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-top: 88px;
}

.main-paragraph {
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px; 
}

.main-paragraph span {
    color: #04959E; 
}

.main__list {
    margin-top: 24px;
    padding-left: 20px;
}

.main__list__item {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.main-button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 145px;
    height: 44px;
    background: #04959E;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

footer {
    height: 60px;
}
.divider {
    margin-top: 100px;
    background: #161616;
    height: 1px;
}

.footer__paragraph {
    text-align: center;
    margin-top: 16px;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
}